.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #d32f2f; /* Kook-thema: Dieprood */
  color: white;
  font-family: 'Roboto', sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 8px;
  margin-top: 15px;
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-container button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.nav-container button.active {
  text-decoration: underline;
}

.user-actions {
  display: flex;
  align-items: center;
}

mat-icon {
  font-size: 24px;
}

button {
  margin-left: 8px;
}
